@import 'tailwindcss';
@import '@nuxt/ui';
@source inline("{hover:,}{dark:,}{text,bg,border}-{primary,secondary,success,info,warning,error,neutral}-{50,{100..900..100},950}");

@theme static {
  --font-text: Montserrat, ui-sans-serif, system-ui;
  --font-title: Inter, ui-sans-serif, system-ui;

  --text-hidden: 0px;
  --text-hidden--line-height: 0px;

  --radius-slate: 33px;

  --spacing-laptop: 1200px;
  --spacing-desktop: 1800px;

  --shadow-element: 4px 4px 20px 0 rgba(1, 26, 59, 0.25);
  --shadow-section: 0 0 20px 0 rgba(1, 26, 59, 0.33);
  --shadow-element-dark: 2px 2px 15px 0 rgba(0, 0, 0, 0.35);
  --shadow-section-dark: 0 0 20px 0 rgba(0, 0, 0, 0.35);

  --breakpoint-laptop: 1200px;
  --breakpoint-desktop: 1800px;

  --color-slatePrimary-50: #f1f6ee;
  --color-slatePrimary-100: #e2eedd;
  --color-slatePrimary-200: #c9debf;
  --color-slatePrimary-300: #accd9d;
  --color-slatePrimary-400: #93bd7f;
  --color-slatePrimary-500: #76ac5d;
  --color-slatePrimary-600: #5e8e49;
  --color-slatePrimary-700: #466936;
  --color-slatePrimary-800: #2f4724;
  --color-slatePrimary-900: #162211;
  --color-slatePrimary-950: #0b1109;

  --color-slateSecondary-50: #fff8e6;
  --color-slateSecondary-100: #fef2cd;
  --color-slateSecondary-200: #fde59b;
  --color-slateSecondary-300: #fdd868;
  --color-slateSecondary-400: #fcca36;
  --color-slateSecondary-500: #fabe04;
  --color-slateSecondary-600: #c99703;
  --color-slateSecondary-700: #977202;
  --color-slateSecondary-800: #644c02;
  --color-slateSecondary-900: #322601;
  --color-slateSecondary-950: #191300;

  --color-slateSuccess-50: #e5faf3;
  --color-slateSuccess-100: #d0f6e9;
  --color-slateSuccess-200: #a1ecd2;
  --color-slateSuccess-300: #6ee2ba;
  --color-slateSuccess-400: #3fd9a3;
  --color-slateSuccess-500: #25bb87;
  --color-slateSuccess-600: #1d956b;
  --color-slateSuccess-700: #166f50;
  --color-slateSuccess-800: #0f4d37;
  --color-slateSuccess-900: #08261c;
  --color-slateSuccess-950: #03110c;

  --color-slateInfo-50: #ebf3ff;
  --color-slateInfo-100: #d6e7ff;
  --color-slateInfo-200: #a8cbff;
  --color-slateInfo-300: #80b3ff;
  --color-slateInfo-400: #579aff;
  --color-slateInfo-500: #2b7fff;
  --color-slateInfo-600: #0060f0;
  --color-slateInfo-700: #0047b3;
  --color-slateInfo-800: #002f75;
  --color-slateInfo-900: #00183d;
  --color-slateInfo-950: #000c1f;

  --color-slateWarning-50: #fff8e5;
  --color-slateWarning-100: #fff0c7;
  --color-slateWarning-200: #ffe294;
  --color-slateWarning-300: #ffd35c;
  --color-slateWarning-400: #ffc629;
  --color-slateWarning-500: #f0b100;
  --color-slateWarning-600: #c28e00;
  --color-slateWarning-700: #8f6900;
  --color-slateWarning-800: #614700;
  --color-slateWarning-900: #2e2200;
  --color-slateWarning-950: #191300;

  --color-slateError-50: #fdeded;
  --color-slateError-100: #fbdbda;
  --color-slateError-200: #f6b3b1;
  --color-slateError-300: #f2908d;
  --color-slateError-400: #ed6863;
  --color-slateError-500: #e9453e;
  --color-slateError-600: #d31e18;
  --color-slateError-700: #a01712;
  --color-slateError-800: #690f0c;
  --color-slateError-900: #370806;
  --color-slateError-950: #1b0403;

  --color-slateNeutral-50: #f2f4f7;
  --color-slateNeutral-100: #e9ecf1;
  --color-slateNeutral-200: #d3dae3;
  --color-slateNeutral-300: #bdc7d6;
  --color-slateNeutral-400: #a7b5c8;
  --color-slateNeutral-500: #90a1b9;
  --color-slateNeutral-600: #6980a0;
  --color-slateNeutral-700: #4d607a;
  --color-slateNeutral-800: #334051;
  --color-slateNeutral-900: #1a2029;
  --color-slateNeutral-950: #0c0f13;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

