@import 'tailwindcss';
@import '@nuxt/ui';
@source inline("{hover:,}{dark:,}{text,bg,border}-{primary,secondary,success,info,warning,error,neutral}-{50,{100..900..100},950}");
@source inline("p{x,y}-{0..50..1}{,.5}");
@source inline("gap-{0..12..1}{,.5}");
@source inline("rounded-{xs,sm,md,lg,xl,2xl,3xl,4xl,full}");

@theme static {
  --font-text: Montserrat, ui-sans-serif, system-ui;
  --font-title: Inter, ui-sans-serif, system-ui;

  --spacing-laptop: 1200px;
  --spacing-desktop: 1800px;

  --shadow-element: 4px 4px 20px 0 rgba(1, 26, 59, 0.25);
  --shadow-section: 0 0 20px 0 rgba(1, 26, 59, 0.33);
  --shadow-element-dark: 2px 2px 15px 0 rgba(0, 0, 0, 0.35);
  --shadow-section-dark: 0 0 20px 0 rgba(0, 0, 0, 0.35);

  --breakpoint-laptop: 1200px;
  --breakpoint-desktop: 1800px;

}
